*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
# Игнорируем метаданные QGIS
*.qmd
# описание.md
# *.png
# package-lock.json
# /public/фотографии пляжей
# public/sevastopol_beaches(near point).geojson
# public/sevastopol_beaches(near point).qmd
# # database/seeders/BeachSeeder.php
# public/sevastopol_beaches(near point)(0001).geojson
# public/sevastopol_beaches(near point)(0001).qmd
# public/sevastopol_beaches(near point)(0002).geojson
# public/sevastopol_beaches(near point)(0002).qmd
# public/sevastopol_beaches(near point)(0003).geojson
# public/sevastopol_beaches(near point)(0003).qmd
# public/sevastopol_beaches(near point)(0004).geojson
# public/sevastopol_beaches(near point)(0004).qmd
# public/sevastopol_beaches(near point)(0005).geojson
# public/sevastopol_beaches(near point)(0005).qmd
# public/sevastopol_beaches(near point)(0006).geojson
# public/sevastopol_beaches(near point)(0006).qmd
# public/sevastopol_beaches(near point)(0007).geojson
# public/sevastopol_beaches(near point)(0007).qmd
